main {
    /* background: url(../../assets/torn-page.jpg) no-repeat right top fixed; */
    /* background-size: contain; */
    height: 100vh;
    /* width: 800px; */
    /* padding: 2em; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
}

.spells__image {
    position: absolute;
    z-index: -100;
    width: 100%;
    height: 100%;
}

.spells {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    padding-top: 20vh;
    /* padding: 20vh 2em; */
}

.spells__wrapper {
    border: 1px solid brown;
    max-height: 60vh;
    overflow-y: hidden;
    /* width: 100vw; */
}

.spells__list li {
    
    }

.spells__list li:hover {
color: hotpink
}

