html {
  cursor: url("favicon.ico"), auto;
  background-color: black;
}

textarea {
  width: 85%;
  word-break: break-all;
}

#line-break {
  padding: 0;
  margin: 0;
  width: 100%;
  border-color: black;
}

.selected {
  color: darkred;
  background: rgba(219, 208, 208, 0.5);
}

main {
  height: 95vh;
  position: relative;
  max-width: 800px;
  margin: auto;
}

.spells__image {
  position: absolute;
  z-index: -100;
  width: 100%;
  height: 100%;
}

.spells {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 2em;
  padding: 2em;
  padding-top: 20vh;
}

/* .spells input {
  font-size: 100%;
} */

.spells__wrapper {
  max-height: 60vh;
  max-width: 70vw;
  overflow: hidden;
}

.spells__input {
  border-width: 0px;
  padding: 0px;
  font-size: inherit;
  font-family: "Architects Daughter", serif;
  width: 70vw;
  word-break: break-all;
  overflow-x: hidden;
  background-color: transparent;
}

::placeholder {
  font-size: 3vh;
}


.spells__input:focus {
  /* outline: dashed hsl(0, 50%, 30%); */
}

.spells__list button {
  font-size: inherit;
  font-family: "Architects Daughter", serif;
  padding: none;
  /* padding-top: 3vh; */
  color: #434a47;
  background-color: transparent;
  border: none;
  text-align: left;
}

.spells__list button:hover {
  color: darkred;
  background: rgba(219, 208, 208, 0.5);
}

.spells__list button:focus {
  color: darkred;
  background: rgba(219, 208, 208, 0.5);
}

.output {
  font-family: "Architects Daughter", serif;
  font-size: 1.5em;
  line-height: 1.5em;
  overflow-wrap: normal;
  padding: 0 2.6em;
  display: flex;
  justify-content: flex-start;
  /* height: 50%; */
}

.page__title {
  position: absolute;
  top: 4vh;
  font-size: 2rem;
}

.page__number {
  position: absolute;
  bottom: 4vh;
  font-size: 1.5rem;
}

.page__title,
.page__number {
  right: 6vh;
  font-family: "Great Vibes", cursive;
  font-weight: 600;
  color: darkred;
}

@media screen and (max-width: 400px) {
  textarea {
    width: 35vh;
    height: 100px;
    word-break: break-all;
  }

  #line-break {
    width: 35vh;
  }
}
